services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8004:8000"
    env_file:
      - backend/.env
    environment:
      - DEBUG=True
    volumes:
      - .:/app:cached
      - ./backend/db.sqlite3:/app/backend/db.sqlite3
      - ./backend/media:/app/backend/media
    restart: unless-stopped
